
<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hiber</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- JDBC dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Schema auto update -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Show SQL queries -->
        <property name="hibernate.show_sql">true</property>
<mapping class ="com.entites.Note"/>
        

    </session-factory>
</hibernate-configuration>
